<!DOCTYPE html>
<html>
<head>
    <title>ToDo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .buttonColor1{
            background-color: darkred;

        }
        .buttonColor2{
            background-color: indianred;
            color: #FFFFFF;
        }
    </style>
</head>
<body class="text-center">
<h2>To-Do</h2>
<p>

    <a  href="/login"> <div style="color: #FFFFFF; display: inline;"><button class="btn btn-dark buttonColor1">Login</button></div> </a>

    <a href="/register"> <div style="color: #FFFFFF; display: inline;"><button  class="btn btn-dark buttonColor2">Register</button></div> </a>

</p>
</body>
</html>
