<!DOCTYPE html>
<html>
<head>
    <title>ToDo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .jumbotron{
            background-color:darkred;
            color:#FFFFFF;
            padding: 5px;

        }
        .fixed-bottom{

            display: block;
            background-color:darkred;
            color:#FFFFFF;
            bottom:0;
        }
        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #a17d6b;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #5c3b39;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        .form button:hover,.form button:active,.form button:focus {
            background: #a17d6b;
        }
        h1{
            color:#5c3b39
        }
        a{
            color:#5c3b39
        }
        .buttonColor{
            background-color: darkred;
            color: #FFFFFF;
        }
    </style>

</head>
<body class=text-center>
<div class="jumbotron">
    <h1>TO-DO Lista</h1></div>


<h1>Greska prilikom registracije</h1>
<br>

<a href="/register"> <button class=" btn btn-dark buttonColor">Nazad</button></a>

<div style="height: 390px;"></div>



<br>
<footer class="fixed-bottom"> Amina Hadzifejzovic </footer>






</body>
</html>
